div{float:left;}

p,input,button{display: inline;}

.border {border: 1px solid #ccc;}

.left{float:left;}

.center{ margin-left: auto; margin-right: auto; vertical-align: middle;}

#resultDiv {width: 100%;}

#resultDiv div{
 width: 300px;
 height: 300px;
}


